/* Reset */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Prompt', sans-serif;
  background: #fefefe;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #6CC4A1;
  color: white;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*ขนาดชื่อของโลโก้*/
header .logo span {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffeb3b;
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
}
.hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(70%);
}

/* Content */
.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  gap: 20px;
}
/* Sections */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}
.card h2 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #4A90E2;
}
.card ul {
  margin-left: 20px;
}

/* Footer */
footer {
  background: #6CC4A1;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
